:root{
    --bs-success: #18bd9d;
}

.bg-success, .btn-success{
    background-color: var(--bs-success) !important;
    outline: none;
    border: none;
}

.text-success{
    color: var(--bs-success);
}

html, body{
    overflow-x: hidden;
}

body{
    background-color: #eeeaea;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50%;
}

.btn.btn-primary {
    box-shadow: inset 0 0 0 0 var(--bs-success);
}

.btn.btn-primary:hover {
    box-shadow: inset 300px 0 0 0 var(--bs-light) !important;
    color: var(--bs-success) !important;
}

.btn.btn-light {
    box-shadow: inset 0 0 0 0 var(--bs-success);
}

.btn.btn-light:hover {
    box-shadow: inset 300px 0 0 0 var(--bs-success);
    color: var(--bs-light) !important;
}

.btn-hover {
    transition: 0.5s;
}

.btn-hover:hover {
    color: var(--bs-secondary) !important;
}

/*** Section Title Start ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-success);
}

.section-title::before {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: -50px;
    border: 1px solid var(--bs-success) !important;
}

.section-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: -50px;
    border: 1px solid var(--bs-success) !important;
}

.main-nav-bar{
    position: fixed;
    top: 45px;
    z-index: 999;
}

.main-top-bar{
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: var(--bs-success) !important;
}

@media (max-width: 991px){
    .main-nav-bar{
        position: fixed;
        top: 0;
        z-index: 999;
    }
    
    .hero__section{
        margin-top: 50px !important;
    }
}

@media (max-width: 575px){
    .hero__section{
        margin-top: 80px !important;
    }
}

/*** Topbar Start ***/
.fixed-top .container {
    transition: 0.5s;
}

.topbar {
    padding: 2px 10px 2px 20px;
    background: var(--bs-success) !important;
}

.topbar a,
.topbar a i {
    transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
    color: var(--bs-secondary) !important;
}


@media (max-width: 768px) {
    .topbar {
        display: none;    
    }
}
/*** Topbar End ***/


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding: 35px 15px;
    color: var(--bs-white) !important;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 15px;
    color: var(--bs-dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--bs-white) !important;
}

.navbar-light .navbar-brand h1 {
    color: var(--bs-white);
}

.sticky-top.navbar-light .navbar-brand h1 {
    color: var(--bs-success);
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-success);
    color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light);
    transition: .5s;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--bs-white);
    }

    .navbar-light .navbar-brand h1 {
        color: var(--bs-success);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--bs-success);
        color: var(--bs-success);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--bs-white) !important;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active  {
        color: var(--bs-success) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: var(--bs-light);
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: -1px;
        left: 0;
        background: var(--bs-success);
        transition: .5s;
        z-index: -1;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        height: calc(100% + 1px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}

.ts-heading{
    margin-top: 95px;
}
@media (max-width:991px){
    .ts-heading{
        margin-top: 0px;
    }
}

.ts-bg-image{
    background-image: url("https://via.placeholder.com/1200x400");
    background-repeat: no-repeat;
    background-size: cover;
    height: 52vh;
}

.ts-box-shadow{
    background-color: rgba(0, 0, 0, 0.6);
    width: fit-content;
    margin: 0 auto;
}

.ts-hr-line{
    width: 100px;
    height: 5px;
    background-color: black;
    margin: 0 auto;
}
.tc-home-banner{
    background-color: var(--bs-dark);
}
.tc-text-color{
    color: var(--bs-success);
}
.pc-home-banner, .newsletter {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/img-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .pc-home-banner-icon i {
    color: #fff;
    font-size: 40px;
  }
  
  .pc-bi-box {
    display: flex;
    gap: 0.5rem;
  }
  
  .pc-bannerNumbers {
    display: flex;
    justify-content: space-between;
  }
  /* Testimonial */

  blockquote img{
    border-radius: 50%;
    margin-top: 10px;
  }

  #slider-container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  
  #testimonials {
    position: relative;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    width: 1000px;
    height: 450px;
  }
  
  figure {
    position: absolute;
    width: 400%;
    left: 0;
    animation: 20s slider infinite;
    -webkit-animation: 20s slider infinite;
    border-top: 1px solid #c2c1c2;
    margin: 0;
  }
  
  blockquote {
    width: 25%;
    margin: 0;
    float: left;
    padding-bottom: 1em;
  }
  
  @-webkit-keyframes slider {
      0%  { transform: translateX(0%); }
      25% { transform: translateX(0%); }
      33% { transform: translateX(-25%); }
      58% { transform: translateX(-25%); }
      66% { transform: translateX(-50%); }
      91% { transform: translateX(-50%); }
      100%{ transform: translateX(-75%); }
  }
  
  @keyframes slider {
       0%  { transform: translateX(0%); }
      25% { transform: translateX(0%); }
      33% { transform: translateX(-25%); }	
      58% { transform: translateX(-25%); }
      66% { transform: translateX(-50%); }
      91% { transform: translateX(-50%); }
      100%{ transform: translateX(-75%); }
  }
  
  footer {
    padding: 1em;
    float: right;
    margin-right: 2em;
  }
  
  @media(min-width:750px) {
    #testimonials{ height: 150px;}
  }
  
  .dark-color{
    background-color: #212529 !important;
  }

/* Section */
  .process-box {
    position: relative;
    text-align: center;
}

.process-box .process-number,
.process-box .process-icon,
.process-box {
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
}

.process-box .process-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 13px;
    z-index: 2;
    position: relative;
    background-color: var(--white-color);
    color: var(--title-color);
    font-size: 28px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 25px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.02);
}

.process-box .process-icon i:before {
    line-height: inherit;
}

.process-box .process-number {
    font-size: 20px;
    font-weight: 700;
    background-color: var(--bs-success);
    color: white;
    z-index: 1;
    width: 67px;
    height: 67px;
    line-height: 67px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-top: 10px;
}

.process-box .process-number:before {
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    z-index: -1;
    border-radius: inherit;
}

.process-box .process-text {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.process-box .process-border {
    position: absolute;
    right: -130px;
    top: 89px;
}

.process-box:nth-child(even) .process-border {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    top: 15px;
}

.process-box:last-child .process-border {
    display: none !important;
}

.fa-house, .linkStyle{
    text-decoration: none;
    color: var(--bs-success);
  }
/* Overlay */
.parent-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-success);
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h5,
.overlay p {
    color: white;
}

.parent-container:hover .overlay {
    opacity: 1;
}

/* cards */
.img-wrapper {
    max-width: 100%;
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  @media screen and (min-width: 576px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      display: block;
      margin-right: 0;
      flex: 0 0 calc(100% / 3);
    }
    .img-wrapper {
      height: 21vw;
    }
  }

  .carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 1.6em;
    border-radius: 10px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    font-size: 0.9em;
  }
  
  .card-title{
    margin-top: -60px !important;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 6vh;
    height: 6vh;
    background-color: #e1e1e1;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 0.8;
  }

  /* Hero */
  .headline, .headline span, .headline h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 


  @media (max-width: 575px){
    .hero__section{
        margin-bottom: 230px;
      }
  }

  .clipped {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  }
  @media screen and (max-width: 650px){
    .headline {
      left: 20px;
    } 
    .clipped {
      clip-path: none;
      max-height: 300px !important;
    }
  }

  .headerStyle{
    margin-top: 95px;
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
    height: 50vh;
  }

  .bannerStyle{
    margin-top: 95px;
    background-image: url('/images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
    height: 50vh;
  }

  @media (max-width: 991px){
    .headerStyle, .bannerStyle{
        margin-top: 0;
    }
    .order-small-1{
        order: -1;
    }
  }

  /* Footer */
  .footer-link{
    text-decoration: none;
    color: white;
  }
  .footer-link:hover{
    color: var(--bs-success);
  }

  /* brands */
  .brands-section img{
    width: 90%;
  }

  /* Two Images */
  .image-container {
    position: relative;
  }
  
  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  /* About */
  .about-circle{
    position: absolute;
    width: 80px;
    height: 80px;
    background: var(--bs-success);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .about-box{
    width: 90%;
    padding: 20px;
    margin-left: 50px !important;
  }

  .about-box p{
    width: 70%;
    text-align: justify;
    margin: 0 auto;
  }
  /* Newsletter */
  .newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .newsletter .content h2 {
    color: var(--bs-success);
    margin-bottom: 40px; }
    .newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
    }
    .newsletter .content.form-control:focus {
    box-shadow: none;
    }
    .newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: var(--bs-success);
    color: #fff;
    font-weight:600;
    }